:root {
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(123, 134, 140);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
	font-family: "paddington";
	src: url("/tfl-journey-planner/fonts/paddington.ttf");
}

html {
	overscroll-behavior: none;
	height: 100%;
}

body {
	height: 100%;
	margin: auto;
}

#root {
	margin: 0 auto;
	place-items: center;
}

#__next {
	height: 100%;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	font-family: inherit;
	cursor: pointer;
}

footer {
	font-family: paddington;
	font-size: 10px;
	position: relative;
	bottom: 0;
	width: 100%;
	overflow-wrap: break-word;
	p {
		padding: 0 2rem;
	}
}
