/* 
This CSS is largely based on the isometric train animation project 
available at: https://github.com/SpeedCodeProjects/isometric-train-animation 
*/
svg {
	height: 100%;
}

@keyframes trainAnimation {
	0% {
		transform: translate(2500px, calc(-1 * 2500px * 0.57735026919));
	}

	35% {
		transform: translate(0);
	}

	65% {
		transform: translate(0);
	}

	100% {
		transform: translate(-2500px, calc(2500px * 0.57735026919));
	}
}

#Train1 {
	animation: trainAnimation 3s ease-in-out infinite;
	animation-fill-mode: forwards;
	transform: translate(2500px, calc(-1 * 2500px * 0.57735026919));
}

#Train2 {
	animation: trainAnimation 4.5s ease-in-out infinite reverse;
	animation-fill-mode: forwards;
	transform: translate(-2500px, calc(2500px * 0.57735026919));
}
